<div class='container'>
    <div class='col-md-12'>
        <h1>Bookings</h1>
        <p>Please complete the form below and we will come back to you as quickly as possible.</p>
    </div>
</div>
<hr>
<div id="container" align="center">
    <form onsubmit="javascript:alert('Thank you! We will be in touch shortly.');">
        <fieldset>
            <label for="fname" class="field">Full Name:</label>
            <input type="text" id="fname" placeholder="required field" name="fname" required=""/>

            <label for="email" class ="field">Email address:</label>
            <input id="email" name="email"  placeholder="enter email" type="email" required=""/>

            <label for="telephone" class="field">Home Phone:</label>
            <input id="telephone" name="telephone" placeholder="landline number" pattern ="[0-9]{11}" title="landline phone number expected beginning 01********. No Spaces Please!" type="tel" required=""/>

            <label for="telephone" class="field">Mobile Phone:</label>
            <input id="telephone" name="telephone" placeholder="mobile number" pattern ="[0-9]{11}" title="Mobile phone number expected beginning 07********. No Spaces Please!" type="tel" required=""/>

            <label>Event Type</label>
                    <select ng-controller="dropCtrl" ng-model="selectedEvent" ng-options="x for x in events">
                    </select>
                    <p>What type of event is this?</p>

            <label for="website" class ="field">Date of event:</label>
            <input id="Date" name="Date" placeholder="Date" type="Date"/>
 
            <label for="website" class ="field">Number of Guests:</label>
            <input id="number" name="number" placeholder="number" type="number" />

            <label for="submit" class="field">Submit</label>
            <input id="submit" type="submit" value="submit" />
        </fieldset>
    </form>
</div>
<hr>