<div class='container'> 
    <div class='row'>
        <div class='col-md-12'>
            <h1 align="center">Gallery</h1>
            <p align="center">Here's a small sample of our carts at various locations fully dressed and ready to go. 
            We can dress to completely coordinate with your event or special day so please do let us know what you are looking for and we will be happy to help.
            </p>
        </div>
    </div>
</div>
<hr>
<div class='container'> 
    <div align="center">
        <div class='col-md-12'>
            <div class="media-middle">
                <video align="center" controls="controls" poster="/templates/images/cart002.jpg">
                    <source src="/templates/video/CartVidSmall_OGV.ogv" type="video/ogg">
                    <source src="/templates/video/CartVidSmall_mp4.mp4" type="video/mp4">
                    <source src="/templates/video/CartVidSmall_WEBM.webm" type="video/webm">
                </video>
            </div>
        </div>
    </div>
</div>
<hr>
<div class='container'> 
    <div class='row'>
        <div class='col-md-6'>
            <h1>Denham Grove July 2014</h1>
            <img src="/templates/images/wedding005.jpg" class="img-responsive" alt="Responsive image">
            <p>
            <br>One of Hertfordshire's most beautiful spots and a very popular wedding venue Denham Grove is perfect for setting up this little gem. Featuring out "lilac and Striped" theme to co-ordinate with out clients overall look, this was an elegant and contemporary setting and looked amazing.
            </p>                
        </div>
        <div class='col-md-6'>
            <h1>Wedding Fayre 2015</h1>
            <img src="/templates/images/wedding004.jpg" class="img-responsive" alt="Responsive image">
            <p>
            <br>It's always a good idea to keep abrest of the latest offerings out there for weddings and what clients expect to see. Wedding fayres are a perfect opportunity to do some research whilst also showcasing what we are all about.
            </p>
        </div>
    </div>
</div>
<hr>
<div class='container'> 
    <div class='row'>
        <div class='col-md-6'>
            <h1>June 2016</h1>
            <img src="/templates/images/wedding003.jpg" class="img-responsive" alt="Responsive image">
            <p>
            <br>One of our more memorable weddings where the party included a very large contingent of bikers. The most gentle and fun-loving souls you would ever wish to meet! One of our staff was even asked up to dance with the Best Man!!
            </p>  
        </div>
        <div class='col-md-6'>
            <h1>Christmas Fayre 2016</h1>
            <img src="/templates/images/ChristmasFayre.jpg" class="img-responsive" alt="Responsive image">
            <p>
            <br>Christmas is always a super busy time for us and we try to keep with the flavour of the many local Christmas Fayres that we attend during the season. Candy-Canes abound and as always and excellent selection for the pick 'n' mix fans too.
            </p>
        </div>
    </div>
</div>
<hr>
<div class='container'> 
    <div class='row'>
        <div class='col-md-6'>
            <h1>Keeping Up Appearances</h1>
            <img src="/templates/images/NewLivery.jpg" class="img-responsive" alt="Responsive image">
            <p>
            <br>It's always important to ensure that the carts are looking their very best every time we show up, whatever the event. Like anyone else, we take pride in our appeearance and new livery is applied when it is needed to keep everything looking beautiful!
            </p>   
        </div>
        <div class='col-md-6'>
            <h1>Moor Park Mansion</h1>
            <img src="/templates/images/wedding001.jpg" class="img-responsive" alt="Responsive image">
            <p>
            <br>An absolutely STUNNING place to work and even better to PARTY!! Traditional wood-panneling combined with frescoed cielings make this an awe-inspiring venue and with beautifil landscaped gardens just outside, the summer weddings are a real treat.
            </p>
        </div>
    </div>
</div>
<hr>
