<div class='container'> 
        <div class='row'>
            <div class='col-md-12'>
                <h1 align="center">Sweet List</h1>
                <p align="center">We have an utterly PHENOMINAL list of sweets that we can tempt you with, from new trending favourites to the old classics, and with over 400 to choose from, HOW can you possibly decide? Just take a look at some of the many delicious goodies available!
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class='container'> 
        <div class='row'>
            <div class='col-md-3'>
                <img src="templates/images/Allsorts.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/BonBon.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/ChocLimes.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/CoconutMushrooms.jpg" class="img-responsive" alt="Responsive image">
            </div>
        </div>
        </div>
    <hr>
    <div class='container'> 
        <div class='row'>
            </div>
            <div class='col-md-3'>
                <img src="templates/images/ColaBottles.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/CoughCandy.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/Fangs.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/FizzyCherries.jpg" class="img-responsive" alt="Responsive image">
            </div>
        </div>
        </div>
    <hr>
    <div class='container'> 
        <div class='row'>
            <div class='col-md-3'>
                <img src="templates/images/FoamBananas.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/FriedEggs.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/FruitJellies.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/Fudge.jpg" class="img-responsive" alt="Responsive image">
            </div>
        </div>
        </div>
    <hr>
    <div class='container'> 
        <div class='row'>
            <div class='col-md-3'>
                <img src="templates/images/Humbugs.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/Jazzies.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/JellyBabies.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/JellyBeans.jpg" class="img-responsive" alt="Responsive image">
            </div>
        </div>
        </div>
    <hr>
    <div class='container'> 
        <div class='row'>
            <div class='col-md-3'>
                <img src="templates/images/KolaCubes.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/LemonBonBons.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/Letters.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/Lips.jpg" class="img-responsive" alt="Responsive image">
            </div>
        </div>
        </div>
    <hr>
    <div class='container'> 
        <div class='row'>
            <div class='col-md-3'>
                <img src="templates/images/MallowPoles.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/MarsMallows.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/MilkBottles.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/MiniMallows.jpg" class="img-responsive" alt="Responsive image">
            </div>
        </div>
        </div>
    <hr>
    <div class='container'> 
        <div class='row'>
            <div class='col-md-3'>
                <img src="templates/images/Mushrooms.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/Nougat.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/PeanutBrittle.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/PearDrops.jpg" class="img-responsive" alt="Responsive image">
            </div>
        </div>
        </div>
    <hr>
    <div class='container'> 
        <div class='row'>
            <div class='col-md-3'>
                <img src="templates/images/RhubarbCustard.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/RosyApples.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/Saucers.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/SherbetLemons.jpg" class="img-responsive" alt="Responsive image">
            </div>
        </div>
        </div>
    <hr>
    <div class='container'> 
        <div class='row'>
            <div class='col-md-3'>
                <img src="templates/images/Shrimps.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/Strawbs.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/SugaredAlmonds.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-3'>
                <img src="templates/images/TeddyBears.jpg" class="img-responsive" alt="Responsive image">
            </div>
        </div>
        </div>
    <hr>
    <div class='container'> 
        <div class='row'>
            <div class='col-md-4'>
                <img src="templates/images/TurkishDelight.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-4'>
                <img src="templates/images/WhiteMice.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class='col-md-4'>
                <img src="templates/images/WineGums.jpg" class="img-responsive" alt="Responsive image">
            </div>
        </div>
        </div>
    <hr>
